#container {
  margin-top: 40px;
}

.ui-hint {
  color: #DD0000;
  display: block;
  font-size: 1em;
  margin-top: -15px;
}

.fields input {
  width: 25%;
  display: inline-block;
}

.fields input:last-child {
  width: 75%;
  display: inline-block;
}

pre {
  position: absolute;
  top: 20%;
  left: 110%;
}

