#container {
  margin-top: 40px;
}

.ui-hint {
  color: #DD0000;
  display: block;
  font-size: 1em;
  margin-top: -15px;
}

fields {
  position: relative;
}

.fields input {
  width: 25%;
  display: inline-block;
}

.fields input:nth-child(2) {
  width: 75%;
  display: inline-block;
}

.fields .button {
  position: absolute;
}

pre {
  position: absolute;
  top: 20%;
  left: 110%;
}

